version: "3"

services:
  bg-removal:
    image: danielgatis/rembg
    command: ['s']
    ports:
      - 8090:5000
  facefusion-api:
    image: sinyukkirill/facefusion
    command: [ 'python', 'run.py', '--api' ]
    labels:
      org.springframework.boot.readiness-check.tcp.disable: true
    ports:
      - 8091:8000
  mongodb:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
      - MONGO_INITDB_DATABASE=stickers
    ports:
      - 27017:27017
  sticker-generator:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - BG_REMOVAL_BASE_URL=http://bg-removal:5000
    ports:
      - 8080:8080
    depends_on:
      - bg-removal
